.navbar{
    background: rgb(117,80,240);
    background: linear-gradient(90deg, rgba(117,80,240,1) 0%, rgba(159,90,224,1) 35%, rgba(211,117,236,1) 100%);
}

.my-col-h{
    min-height: 20rem !important;
}
.my-img-size{
    height: 18rem !important;
    width: 100%;
}
@font-face{
    font-family: titulo;
    src: url(./fonts/Mordeka.ttf)!important;
}
.navbar-brand{
    font-family: titulo;
}
@font-face{
    font-family: seccion;
    src: url(./fonts/Galpo.ttf) !important;
}
.section{
    font-family: seccion;
} 
footer{
    min-height: 3em;
}
.fa {
    padding: 10px ;
    font-size: 20px;
    width: 50px ;
    text-align: center ;
    text-decoration: none ;
    margin: 5px 2px ;
  
  }
  
  .fa:hover {
      opacity: 0.7 ;
  }
  
  .fa-facebook {
    background: #3B5998 ;
    color: white ;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  